body {
  background-image: url("../Ejercicio7/imagenes/ac.jpg");
}

.container {
  display: grid;
  gap: 50px;
  width: 60%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 90vh;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
  background-color: antiquewhite;
  font-size: 15px;
}

.A {
  background-image: url("../Ejercicio7/imagenes/back_mantel.jpg");
  background-position: center;
}

.B {
  background-image: url("../Ejercicio7/imagenes/back_mantel2.jpg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: transparent !important;
}

.C {
  background-image: url("../Ejercicio7/imagenes/back_mantel.jpg");
  background-size: 100%;
  background-position: center;
}

.D {
  background-image: url("../Ejercicio7/imagenes/back_mantel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.E {
  background-image: url("../Ejercicio7/imagenes/dh.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.F {
  background-image: url("../Ejercicio7/imagenes/dh.jpg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.G {
  background-image: url("../Ejercicio7/imagenes/dh_2.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.H {
  background-image: url("../Ejercicio7/imagenes/dh_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.I {
  background: linear-gradient(to left, #333300 0%, #99ff33 100%);
}

.J {
  background: linear-gradient(to bottom, #ff9966 8%, #663300 78%);
}

.K {
  background: linear-gradient(to bottom, #ffffff 0%, #336600 100%);
}

.L {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgb(16, 107, 4)
  );
  background-color: transparent !important;
}
