div {
  border: 2px solid #1693b3;
}

table {
  width: 100%;
  background-color: #1693b3;
  border: 5px outset rgb(242, 234, 234);
}

th,
td {
  border: 1px inset;
}

th {
  background-color: #003333;
  color: #76ba94;
  text-align: center;
}

tr {
  background-color: #76ba94;
}

.otro-color {
  background-color: #54866a;
}

.centrar {
  text-align: center;
}
