table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  border: 10px ridge #1693b3;
}

th,
td {
  padding: 3px;
  text-align: left;
  border: 6px ridge #1693b3;
}

th {
  background-color: #003333;
  color: #76ba94;
  text-align: center;
}

tr {
  background-color: #76ba94;
}

.otro-color {
  background-color: #54866a;
}

.center {
  text-align: center;
}
