body {
  background-color: #a17f1767;
}
h1 {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #65482d;
}
p {
  color: #9c6d0f;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
