* {
  font-family: "Lucida Sans Unicode";
}

.dgreen-text {
  color: rgb(87, 145, 12);
}

.lgreen-text {
  color: rgb(143, 206, 34);
}

.ochre-text {
  color: rgba(190, 118, 2, 0.781);
}

hr {
  margin-top: -5px;
  margin-bottom: -5px;
  border-color: rgba(143, 206, 34, 0.332);
}

.container {
  background-color: #fff;
  padding: 10px;
  border: 15px solid #ccc;
  width: 900px;
  margin: 0 auto;
}

header {
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
}

nav {
  float: left;
  width: 10%;
  padding-right: 10px;
  margin-left: 2%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 5%;
}

nav li:first-child a {
  color: black;
}

nav a {
  display: block;
  background-color: rgba(149, 224, 28, 0.592);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: rgb(113, 113, 113);
  border: 1px solid #d9d8d8;
  background-image: linear-gradient(#ffffff, #9be867, #10610957);
}

nav a:hover {
  background-image: linear-gradient(#ffffff, #d2bca9, #a96711);
}

nav a.current {
  background-image: linear-gradient(#ffffff, #d2bca9, #a96711);
}

.box {
  text-align: justify;
  padding: 0px 10px 10px 10px;
  border: 1px solid #ccc;
  width: 82%;
  margin-left: 15%;
  background-image: linear-gradient(#ececec, #ffffff, #ececec);
}

footer {
  grid-area: footer;
  font-style: italic;
  color: gray;
  text-align: center;
  font-size: 80%;
}
