* {
  font-family: "Lucida Sans Unicode";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dgreen-text {
  color: rgb(87, 145, 12);
}

.lgreen-text {
  color: rgb(143, 206, 34);
}

.ochre-text {
  color: rgba(190, 118, 2, 0.781);
}

.container {
  background-color: #fff;
  padding: 30px;
  border: 10px solid #ccc;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  min-height: 100vh;
  border-radius: 20px;
}

hr {
  margin-top: -5px;
  margin-bottom: 20px;
  border-color: rgba(143, 206, 34, 0.332);
}

header {
  grid-area: header;
  padding-left: 220px;
  margin-bottom: 20px;
  padding: 10px 40px;
}

h1 {
  text-align: center;
  letter-spacing: 7px;
}

h3 {
  margin-bottom: 20px;
}

section {
  margin-bottom: 30px;
}

nav {
  grid-area: nav;
  padding: 30px 30px 30px 10px;
}

main {
  grid-area: main;
  padding: 10px;
}

.box {
  text-align: justify;
  background-image: linear-gradient(135deg, #ffffff, #e1dede);
  padding: 20px;
  border: 1px solid #ccc;
  margin-left: -30px;
}

#menu li {
  display: inline-block;
  width: 120px;
}

#menu li a {
  display: block;
  padding: 5px 30px;
  margin-bottom: 10px;
  background-color: rgba(143, 206, 34, 0.584);
  background-image: linear-gradient(135deg, #ffffff, rgba(143, 206, 34, 0.584));
  color: #4e4d4d91;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

#menu li:first-child a {
  color: black;
}

#menu li a:hover {
  background-color: rgb(255, 132, 0);
}

footer {
  grid-area: footer;
  font-style: italic;
  color: gray;
  text-align: center;
}

header img {
  width: 1200px;
  height: auto;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
