body {
  background: url("../Ejercicio4/imagenes/penguins.jpg") no-repeat top center
    fixed;
}

table {
  width: 50%;
  border: 3px outset #aebbbe;
  box-shadow: 1px 1px 0px 1px #242728;
  background-color: rgb(238, 236, 144);
}

.contenedor-tabla {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 2px;
  border: inset;
}

.celda-1,
.celda-2 {
  background-color: rgb(238, 236, 144);
  text-align: center;
  border: inset;
}
