* {
  color: rgb(222, 132, 48);
}

table {
  background-image: url("../Ejercicio6/imagenes/paws.jpg");
  width: 50%;
  border: 7px outset rgb(255, 225, 196);
  border-spacing: 0px;
}

.tabla {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  color: rgb(222, 132, 48);
}

th,
td {
  border: 2px inset rgb(255, 225, 196);
  text-align: center;
  padding: 4px;
}

.light-orange {
  background-color: rgb(229, 182, 138);
}

.light-beige {
  background-color: rgb(239, 221, 203);
}

.green {
  background-color: rgb(50, 136, 54);
}
